//About Section
$off-white-light: #f2f6f5;
$off-white: #c8dad3;

.about-section {
  background-color: $off-white-light;
  padding: 25rem 0;
  margin-top: -20vh;
}

.features-section {
  padding: 20rem 0;
  // background-image: linear-gradient(
  //   to right bottom,
  //   rgb(99, 112, 126),
  //   rgb(200, 218, 211)
  // );
  background-color: $off-white;
  transform: skewY(-5deg);
  margin-top: -8.5rem;
  & > * {
    transform: skewY(5deg);
  }
}

.plans-section {
  @extend .about-section;
  padding-top: 30rem;
}
